/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #D9B91A; /* Цвет заголовка */
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}

h1 {
  margin: 0;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar button {
  background-color: #333;
  color: white;
  border: 1px solid #444;
  padding: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.calendar button:hover {
  background-color: #555;
}

.calendar button.booked {
  background-color: #b91a1a; /* Забронированные дни */
}

.calendar button.booked:hover {
  background-color: #c62b2b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачное затемнение */
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal.hidden {
  display: none;
}

button {
  background-color: #D9B91A;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #c29d18;
}
